{{define "head"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Journal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/public/img/Icn.ico" />
	{{if eq .grunt "y"}}
		<link rel="stylesheet" href="/public/assets/css/style.min.css">
	{{else}}
		<link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/bower_components/components-font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/public/bower_components/bootstrap-sweetalert/dist/sweetalert.css">
	{{end}}
</head>
{{end}}
