{{template "head" .}}
<body>
<div class="container">
	<h2>Journal record {{.action}}</h2>
	<form id="CreateEdit">
		<a href="/index" class="btn btn-success"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
		<button type="submit" id="save" class="btn btn-primary"><i class="fa fa-hdd-o" aria-hidden="true"></i> Save</button>
		<fieldset class="form-group">
			<label for="Name"><span style="color:red">*</span> Title</label>
			<input type="text" value="{{.data.Name}}" class="form-control" id="Name" name="Name" placeholder="Title" required>
		</fieldset>
		<fieldset class="form-group">
			<label for="Password">Password</label>
			<input type="text" value="{{.data.Pass}}" class="form-control" id="Password" name="Password" placeholder="Password">
		</fieldset>
		<fieldset class="form-group">
			<label for="Login">Login</label>
			<input type="text" value="{{.data.Login}}" class="form-control" id="Login" name="Login" placeholder="Login">
		</fieldset>
		<fieldset class="form-group">
			<label for="Answer">Answer</label>
			<input type="text" value="{{.data.Answer}}" class="form-control" id="Answer" name="Answer" placeholder="Answer">
			<small class="text-muted">This answer for secret question.</small>
		</fieldset>
		<fieldset class="form-group">
			<label for="Othen">Othen</label>
			<textarea class="form-control" id="Othen" name="Othen" rows="10">{{.data.Othen}}</textarea>
		</fieldset>
	</form>
</div>
</body>
{{template "postEnd" .}}
<script src="../../public/js/{{.action}}.js"></script>
</html>
