{{template "head"}}
<body>

	<h2>Journal</h2>
	<a href="record_add.html" class="btn btn-success pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add record</a>

	<table class="table">
		<thead>
		  <tr>
			<th class="col-md-2">Actions</th>
			<th class="col-md-2">Login</th>
			<th class="col-md-2">Password</th>
			<th class="col-md-2">Answer</th>
			<th class="col-md-4">Othen</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			  <td >
				  <div class="btn-group actions" role="group" aria-label="Basic example">
					  <button type="button" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
					  <button type="button" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
				  </div>
			  </td>
			<td > {{ .name }}</td>
			<td >Doe</td>
			<td >john@example.com</td>
			<td><textarea class="form-control" id="exampleTextarea" rows="3">fsafdf</textarea></td>
		  </tr>
		  <tr>
			  <td>
				  <div class="btn-group" role="group" aria-label="Basic example">
					  <button type="button" class="btn btn-warning">Edit</button>
					  <button type="button" class="btn btn-danger">Delete</button>
				  </div>
			  </td>
			<td>Mary</td>
			<td>Moe</td>
			<td>mary@example.com</td>
		  </tr>
		  <tr>
			  <td>
				  <div class="btn-group" role="group" aria-label="Basic example">
					  <button type="button" class="btn btn-warning">Edit</button>
					  <button type="button" class="btn btn-danger">Delete</button>
				  </div>
			  </td>
			<td>July</td>
			<td>Dooley</td>
			<td>july@example.com</td>
		  </tr>

		</tbody>
	</table>
</body>
{{template "postEnd"}}
<script src="../public/js/main.js"></script>
</html>
